*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* mobile first */

body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.7;
  font-size: 1.3rem;
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.accordian-container {
  padding: 15rem 1.5rem;
  position: relative;
}

.accordian-card {
  max-width: 60rem;
  margin: 0 auto;
  min-height: 67vh;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 4rem hsl(237, 12%, 33%);
}

.accordian-card::before {
  content: url("../images/illustration-woman-online-mobile.svg");
  position: absolute;
  top: 4rem;
  right: 50%;
  transform: translateX(45%);
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.card-heading {
  padding-top: 15rem;
  font-size: 3rem;
  font-weight: 700;
}

.faq-container {
  font-weight: 700;
  padding: 2rem 2rem 5rem;
  text-align: left;
}

.card-question {
  border-bottom: 0.5px solid hsl(240, 5%, 91%);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.card-question a {
  text-decoration: none;
  color: hsl(240, 6%, 50%);
}

.card-question:last-child {
  border: none;
}

.card-question::after {
  content: url("../images/icon-arrow-down.svg");
}

.arrowUp::after{
  transform: rotate(180deg);
}

.card-answer {
  color: hsl(240, 8%, 65%);
  font-weight: 400;
  display: none;
}

.open {
  display: block;
}

/* dekstop */

@media only screen and (min-width: 1024px) {
  .accordian-container {
    padding: 15rem 15rem;
  }

  .accordian-card {
    max-width: 140rem;
    display: flex;
    justify-content: flex-end;
    background-image: url("../images/bg-pattern-desktop.svg"),
      url("../images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position: -35rem, -8rem;
    background-size: 70rem, 42rem;
  }

  .accordian-card::before {
    content: url("../images/illustration-box-desktop.svg");
    position: absolute;
    top: 43%;
    right: 76%;
    transform: scale(0.8, 0.8);
  }

  .card-heading {
    padding-top: 10rem;
  }

  .text-container {
    width: 50%;
    text-align: left;
    padding: 0 10rem;
  }
  .faq-container {
    padding: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .accordian-card::before {
    right: 83%;
  }
}
