*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10 px */
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden; /*hide scroll bars*/
  font-size: 1.2rem;
}

.header {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  padding: 2rem;
}

.card-question {
}

.card-question a {
  color: hsl(240, 6%, 50%);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.open a {
  color: hsl(237, 12%, 33%);
}
a::after {
  content: url("../images/icon-arrow-down.svg");
}

.card-answer {
  display: none;
  color: hsl(240, 6%, 50%);
  font-weight: 400;
}
