*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.7;
  font-size: 1.3rem;
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.accordian-container {
  padding: 15rem 1.5rem;
  position: relative;
}

.accordian-card {
  max-width: 60rem;
  margin: 0 auto;
  min-height: 67vh;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 4rem hsl(237, 12%, 33%);
}

.accordian-card::before {
  content: url("../images/illustration-woman-online-mobile.svg");
  position: absolute;
  top: 4rem;
  right: 50%;
  transform: translateX(45%);
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.card-heading {
  padding-top: 15rem;
  font-size: 3rem;
  font-weight: 700;
}

.faq-container {
  font-weight: 700;
  padding: 2rem 2rem 5rem;
  text-align: left;
}

.card-question {
  color: hsl(240, 6%, 50%);
  border-bottom: 0.5px solid hsl(240, 5%, 91%);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.card-question:last-child {
  border: none;
}

.card-question::after {
  content: url("../images/icon-arrow-down.svg");
}

.card-answer {
  color: hsl(240, 8%, 65%);
  font-weight: 400;
  display: none;
}

.open {
  display: block;
}

/* @keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
} */
